@use './styles/variables' as *;

:root {
  font-family: $font-body;
  line-height: 1.5;
  font-weight: 400;
  color: $color-body;
  background-color: $color-background;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-background;
}

h1,
h2,
h3 {
  margin: 0 0 0.5em 0;
  font-weight: $font-weight-semibold;
  color: $color-heading;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}
